/* brown r 164 g 128 b32*/


.black_section{
    background-color: black;
    height: 3em;
    width: 100%;
}
.blk_imgs{
    display: inline-block;
    position: relative;
    left: 75%;
    top: 25%;
    padding-right: 20px;
}
.white_section{
    height: 4.5em;
}
.lm_img{
    float: left;
}
.menu{
    float: right;
    position: relative;
    top: 45%;
    margin-right: 70px;
}
.menu_items{
    display: inline-block;
    margin-right: 55px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
a.menu_a{color: black;}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { 
    text-decoration: none; 
    font-weight: bold;
}
a:active { text-decoration: none; }
.donate{
    background-color: rgb(164, 128,32);
   border-radius: 20%;
}
.body{background-color: red;}

#section1{
     background-image: url("imgs/section1.jpeg");
     height: 500px;
     width: 100%;
}





.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}